<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logger</title>

    <link rel="shortcut icon" href="https://www.viltstigen.se/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.5.0/css/select.dataTables.min.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src=https://cdn.datatables.net/select/1.5.0/js/dataTables.select.min.js></script>

</head>
<body>

<table id="data" class="table table-striped">
    <thead>
    <tr>
        <th>Time</th>
        <th>Msg</th>
        <th>Level</th>
        <th>Path</th>
    </tr>
    </thead>
</table>

<button id="button"><b>Delete record</b></button>

<script>
    $(document).ready(function () {
        const button = $('#button').prop('disabled', true);

        const table = $('#data').DataTable({
            columnDefs: [{
                orderable: false,
                data: null,
                defaultContent: '',
                targets: 0
            }],
            info: false,
            order: [[0, 'asc']],
            paging: false,
            searching: false,
            ajaxSource: "/logger/log",
            columns: [
                {
                    data: "created",
                    render: function (val) {
                        return new Date(parseFloat(1000 * val)).toLocaleString("SWE")
                    },
                },
                {data: "msg"},
                {data: "levelname"},
                {data: "pathname"}
            ],
        });

        button.prop('disabled', table.rows('.selected').data().length === 0);

        $('#data tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
            button.prop('disabled', table.rows('.selected').data().length === 0);
        });

        button.click(function () {
                let rowdata = table.rows('.selected').data();

                for (let i = 0; i < rowdata.length; i++) {
                    console.log(rowdata[i])
                    $.ajax({
                        url: '/logger/log',
                        type: 'DELETE',
                        data: rowdata[i],
                        success: function (result) {
                            $(this).toggleClass('selected');
                        }
                    });
                }
                table.ajax.reload();
                button.prop('disabled', True);
            }
        );
     });
</script>

<footer>
    <p style="font-size:12px">
        Copyright (C) Mats Melander
    </p>
</footer>
</body>
</html>